.student-form {
  width: 100%;
  margin: 0 auto;
}
.student-request-form {
  width: 100%;
}
.student-request-lookup {
  width: 100%;
}
.student-request-actions__buttons {
  height: 100%;
  width: 100%;
}
.gsuite-concern-form__failed-activation-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .student-form {
    width: 50%;
    margin: 0 auto;
  }
  .student-request-form {
    width: 50%;
    margin: 0 auto;
  }
  .student-request-lookup {
    width: 75%;
    margin: 0 auto;
  }
}
